<h1><%= t('.title') %></h1> <!-- "Reply Message" -->
<p>
  <%= t('.blurb') %> <!-- "Replies are only for continuing the current line of inquiry.  Please create a new message for a new question." -->
</p>

<%= render 'form' %>

<%= render 'previous_messages' %>