<h1>Contact Us Page</h1>  <!-- This page will be I18n once completed -->
<br />
<p>Want to contact us? Here's how!</p>
<br />
<address>
  <p>
    email: <a href="mailto:spirit_of_the_north@example.com">spirit_of_the_north@example.com</a><br />
    Phone: 608-555-1234<br />
    Address: 1234 Test Dr, Madison, WI  53719
  </p>
</address>
<!-- add iframe with Google map? -->
<br /><br />
