<h1>Home Page</h1>
<br />
This is my temporary home page!  This does not need I18N because it is going away
<br /><br />
<%= image_tag("home.jpg", size: "750x563", alt: "Loon with Whiskey", id: "home-image") %>
